
 :root {
     --color-gray-950: #111;
     --color-white: #fff;
     --color-yellow: #f4d04e;
     --color-gray-500: #6b6b6b;
     --font-family: "Figtree", sans-serif;
 }

 * {
     box-sizing: border-box;
 }

 h1,
 p {
     margin-top: 0;
     margin-bottom: 0;
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }

 body {
     background-color: var(--color-yellow);
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }

 main {
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .blog-card {
     border: 1px solid var(--color-gray-950);
     border-radius: 20px;
     padding: 24px;
     max-width: 327px;
     box-shadow: 8px 8px 0 0 #000;
     background: var(--color-white);
     display: flex;
     flex-direction: column;
     gap: 12px;
     margin: 0 auto;
 }

 .blog-card__image {
     border-radius: 10px;
 }

 .blog-card__content {
     display: flex;
     flex-direction: column;
     gap: 12px;
 }

 .blog-card__category {
     font-family: var(--font-family);
     font-weight: 800;
     font-size: 12px;
     line-height: 150%;
     color: var(--color-gray-950);
     border-radius: 4px;
     display: inline-block;
     padding: 4px 12px;
     background: var(--color-yellow);
     align-self: start;
 }

 .blog-card__date {
     font-family: var(--font-family);
     font-weight: 500;
     font-size: 12px;
     line-height: 150%;
     color: var(--color-gray-950);
 }

 .blog-card__title {
     font-family: var(--font-family);
     font-weight: 800;
     font-size: 20px;
     line-height: 150%;
 }

 .blog-card__link {
     text-decoration: none;
     color: var(--color-gray-950);
 }

 .blog-card__text {
     font-family: var(--font-family);
     font-weight: 500;
     font-size: 14px;
     line-height: 150%;
     color: var(--color-gray-500);
     max-width: 279px;
 }

 .blog-card__author {
     display: flex;
     gap: 12px;
     align-items: center;
 }

 .blog-card__name {
     font-family: var(--font-family);
     font-weight: 800;
     font-size: 14px;
     line-height: 150%;
     color: var(--color-gray-950);
 }

 .attribution {
     font-size: 11px;
     text-align: center;
 }

 .attribution a {
     color: hsl(228, 45%, 44%);
 }



 @media (min-width: 90em) {
     .blog-card {
         max-width: 24em;
     }

     .blog-card__category {
         font-size: 14px;
     }

     .blog-card__date {
         font-size: 14px;
     }

     .blog-card__title {
         font-size: 24px;
     }

     .blog-card__link:hover,
     .blog-card__link:focus,
     .blog-card__link:active {
         color: var(--color-yellow);
     }

     .blog-card__text {
         font-size: 16px;
         max-width: 336px;
     }
 }